.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards a.card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary);
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary);
}

.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}
