.destinations {
  width: 312px;
  margin: 0 auto;
}
.destinations .item header {
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 24px;
  background-color: transparent;
}

.item {
  padding: 40px 24px 24px 24px;
}

.img-item {
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-tokyo {
  background: url(../img/tokyo-mobile.jpg);
}

.img-osaka {
  background: url(../img/osaka-mobile.jpg);
}

.destination-items .item header h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.destination-items .item header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.destination-items .item footer a {
  width: 312px;
  box-sizing: border-box;
  padding: 0 90px;
  margin-top: 24px;
}
