.destinations {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.destinations .item header {
  display: block;
  padding: 0;
  margin-bottom: 24px;
  background-color: transparent;
}

.item {
  margin-bottom: 24px;
}

.img-item {
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-tokyo {
  background: url(../img/tokyo-mobile.jpg) center;
}

.img-osaka {
  background: url(../img/osaka-mobile.jpg) center;
}

.destination-items .item header h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 24px 0;
}

.destination-items .item header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin-bottom: 24px;
}

.destination-items .item footer a {
  width: 312px;
  margin-top: 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .img-item {
    width: 100%;
    height: 452px;
    background-size: cover;
  }
  .img-tokyo {
    background: url(../img/tokyo-tablet-desk.jpg) center / no-repeat;
  }

  .img-osaka {
    background: url(../img/osaka-tablet-desk.jpg) center / no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .destination-items {
    display: flex;
    gap: 20px;
  }
}
