.testimonials {
  width: 90%;
  margin: 0 auto 88x;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header {
  padding: 0;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 8px;
  height: auto;
}
.testimonial-container article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.testimonial-container article footer .profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0;
}

.testimonial-container article footer .profile-content .rating .star {
  font-size: 38px;
  color: var(--secondary-color);
  line-height: 32px;
}

.testimonial-container article footer img {
  width: 86px;
  height: 86px;
}
@media screen and (min-width: 1024px) {
  .testimonial-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
